<% if (locals && locals.flash) { %>
  <% const sucesso = Array.isArray(locals.flash.sucesso) ? locals.flash.sucesso : (locals.flash.sucesso ? [locals.flash.sucesso] : []); %>
  <% const erro = Array.isArray(locals.flash.erro) ? locals.flash.erro : (locals.flash.erro ? [locals.flash.erro] : []); %>

  <% if (sucesso.length > 0) { %>
    <div class="flash-messages flash-success" style="padding:10px; margin:10px 0; background:#e6ffed; border:1px solid #b7f0c9; color:#2b7a3a;">
      <% sucesso.forEach(msg => { %>
        <div><%= msg %></div>
      <% }); %>
    </div>
  <% } %>

  <% if (erro.length > 0) { %>
    <div class="flash-messages flash-error" style="padding:10px; margin:10px 0; background:#ffecec; border:1px solid #f5c2c2; color:#7a2b2b;">
      <% erro.forEach(msg => { %>
        <div><%= msg %></div>
      <% }); %>
    </div>
  <% } %>
<% } %>
