<nav class="navbar">
  <a href="/painel" class="navbar-brand">Minha App</a>
  <ul class="navbar-links">
    <li><a href="/painel/entregas">Entregas</a></li>
    <li><a href="/painel/motoristas">Motoristas</a></li>
    <li><a href="/painel/atribuir-motorista">Atribuir Motorista</a></li>
    <li><a href="/painel/relatorios">Relatórios</a></li>
  </ul>
</nav>