<%- include('../partials/header') %>
    <div class="container">
        <%- include('../partials/flash') %>
        <%- include('../partials/nav') %>
        <%- include('../partials/footer') %>
    </div>